.tab_basic {
    width: 80%;
    margin: auto;
}

.tab_list_wrap {
    font-size: 0;
    height: 35px;
}

.tab_list {
    display: inline-block;
    width: 33.3334%;
    height: 100%;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eee;
    border-right: 0;
    box-sizing: border-box;
}

.tab_list:last-child {
    border-right: 1px solid #eee;
}

.tab_list.tab_active {
    background: #eee;
}

.tab_list a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #222;
}

.tab_content {
    display: none;
    width: 100%;
    min-height: 100px;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;
}

.tab_content:first-child {
    display: block;
}
